.title {
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 56px;
    top: 236px;
    left: 156px;
}

.content {
    padding: 448px 155px 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1128px;
}

.sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.first {
    font-weight: 600;
    font-size: 20px;
    color: #222136;
}

.second {
    font-weight: 600;
    font-size: 20px;
    color: #222136;
}

.contentWrapper {
    padding-top: 52px;
    padding-bottom: 80px;
}

.contentWrapper h1 {
    font-weight: 500;
    font-size: 56px;
    line-height: 84px;
    padding-bottom: 40px;
}

.contentWrapper p {
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
}

.divider {
    width: 100%;
    background: #343C77;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 224px;
}

.secondDivider {
    width: 100%;
    background: #343C77;
    display: flex;
    flex-direction: column;
    height: 224px;
    align-items: center;
    padding-bottom: 36px;
}

.secondDivider div {
    width: 1128px;
}

.secondDivider p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.secondDivider h1 {
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}


.dividerText {
    color: white;
    font-weight: 600;
    font-size: 32px;
    padding-top: 46px;
    padding-bottom: 36px;
}

.cardWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
    flex-wrap: wrap;
    row-gap: 56px;
    max-width: 1200px;
}

.cardSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cardText {
    display: flex;
    max-width: 1128px;
    align-items: center;
    margin: auto;
}

.cardText h1 {
    font-weight: 500;
    font-size: 40px;
    color: #222136;
    padding-bottom: 32px;
}

.cardText p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 184.02%;
    color: #4C4B5C;
    padding-bottom: 64px;
    max-width: 540px;
}

.positionsWrapper {
    padding: 448px 155px 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1128px;
    margin: auto;
}

.positionsWrapper h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    padding-bottom: 40px;
    padding-top: 52px;
}

.categories {
    display: flex;
    padding-bottom: 36px;
}

.categories button {
    cursor: pointer;
}

.imageWrapper img {
    object-fit: cover;
}

.position {
    display: flex;
    align-items: center;
    height: auto;
    cursor: pointer;
    justify-content: space-between;
}

.details {
    background: #FAF9FA;
    margin-bottom: 40px;
    padding: 40px;
}

.details h2 {
    padding-bottom: 16px;
    color: #4C4B5C;
}

.details p {
    font-weight: 400;
    font-size: 16px;
    color: #4C4B5C;
    line-height: 184.02%;
    padding-bottom: 24px;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: end;
}

.details button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    height: 32px;
    background: #6CBA9F;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    border: none;
    align-items: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.positionWrapper {
    border-top: 1px solid #E9E9E9;
}

.position p {
    font-weight: 400;
    padding-right: 48px;
    font-size: 20px;
    line-height: 184.02%;
    color: #000000;
}

.position button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    height: 32px;
    background: #9096AE;
    border: none;
    color: #FFF;
    border-radius: 48px;
}

.post {
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding: 40px 0;
}

.post p {
    width: 250px;
}

.secondDivider button:hover {
    box-shadow: none !important;
}

@media only screen and (max-width: 992px) {
    .content {
        padding: 440px 32px 120px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 750px;
    }

    .cardText {
        padding: 0 32px;
        max-width: 750px;
    }

    .title {
        left: 32px;
    }

    .positionsWrapper {
        max-width: 750px;
        padding: 440px 32px 120px;
    }

    .secondDivider {
        padding: 0 32px;
        align-items: normal;
        height: 280px;
        width: auto;
    }

    .secondDivider div {
        width: 100%;
    }

}

@media only screen and (max-width: 576px) {
    .second {
        display: none;
    }

    .contentWrapper h1 {
        font-size: 36px;
        line-height: 54px;
    }

    .contentWrapper p {
        font-size: 16px;
        line-height: 184.02%;
    }

    .cardText h1 {
        font-size: 28px;
        line-height: 42px;
    }

    .cardText p {
        font-size: 16px;
        line-height: 184.02%;
    }

    .post {
        width: 33%;
        align-items: center;
    }

    .cardWrapper {
        flex-wrap: nowrap;
        overflow-x: scroll;
        max-width: 315px;
        justify-content: normal;
    }

    .secondDivider {
        height: 400px;
    }

    .secondDivider h1 {
        font-size: 28px;
        line-height: 42px;
    }

    .secondDivider p {
        font-size: 16px;
        line-height: 184.02%;
    }

    .second {
        display: none;
    }

    .categories {
        overflow-x: scroll;
    }

}