.brands {
    background: #FAF9FA;
    display: flex;
    padding: 119px 156px 73px;
    justify-content: center;
}

.brands img {
    padding: 0 57px;
    height: auto !important;
    object-fit: contain;
}

@media only screen and (max-width: 992px) {
   .brands img {
        padding: 0 36px;
   }

   .brands {
        overflow:hidden;
        overflow-x:scroll;
        justify-content: space-between;
        padding: 119px 32px 73px;
   }
}

@media only screen and (max-width: 576px) {
    .brands img {
        padding: 0 16px;
   }

   .brands {
        padding: 53px 37px;
   }
}