.carousel {
    padding: 100px 156px;
    background: #FAF9FA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    padding-bottom: 100px;
    font-weight: 500;
    font-size: 48px;
    color: #222136;
}

.wrapper {
    display: flex;
    padding-bottom: 80px;
    column-gap: 30px;
    width: 1128px;
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar {
    background-color: #E9E9E9;
    width: 100%;
    height: 40px;
    margin: 0 15px;
}

.progress {
    height: 100%;
    background: #343C77;
    transition: width 1s;
}

.step {
    padding-top: 56px;
    font-weight: 500;
    font-size: 20px;
    color: #111827;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 166px 80px 166px;
    width: 100%;
    background-color: white;
}

.card div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card p {
    font-weight: 600;
    font-size: 20px;
    color: #222136;
    padding-top: 36px;
}

.card svg {
    height: 71px;
    width: 71px;
}

.card:hover {
    transform: translate3D(0, -1px, 0) scale(1.1);
    transition: all .4s ease;
    box-shadow: -12px -12px 24px #FFFFFF, 12px 12px 24px #B4C1D5;
}

.backIcon {
    vertical-align: middle;
    padding-bottom: 3px;
}

@media only screen and (max-width: 992px) {
    .wrapper {
        width: 100%;
    }

    .box {
        padding: 0 32px;
    }

    .carousel {
        text-align: center;
        align-items: normal;
        padding: 100px 32px;
    }

    .card {
        padding: 120px 150px 80px 150px;
    }

    .header {
        padding-bottom: 40px;
    }

    .wrapper div {
        flex: 1;
    }

}

@media only screen and (max-width: 930px) {
    .wrapper {
        overflow:hidden;
        overflow-x:scroll;
    }
}

@media only screen and (max-width: 576px) {
    .wrapper {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-flex-direction: row;
        flex-direction: row;
        column-gap: 20px;
        row-gap: 20px;
        -webkit-flex: 1 1 auto;
        justify-content: center;
        width: 100%;
    }

    .carousel {
        padding: 100px 32px;
        align-items: center;
    }

    .card {
        padding: 30px 104px;
    }

    .box {
        width: 100%;
    }
}