.carousel {
    padding: 100px 156px;
    background: #FAF9FA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    padding-bottom: 100px;
    font-weight: 500;
    font-size: 48px;
    color: #222136;
}
