.solutions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 192px 156px;
    align-items: center;
}

.header {
    font-weight: 500;
    font-size: 48px;
    color: #222136;
    padding-bottom: 72px;
}

.cardWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
    flex-wrap: wrap;
    row-gap: 56px;
    max-width: 1200px;
}

.show {
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    .cardWrapper {
        flex-wrap: nowrap;
        overflow:hidden;
        overflow-x:scroll;
        justify-content: start;
   }

   .header {
    margin: auto;
   }

   .solutions {
    align-items: inherit;
    padding: 96px 32px;
    text-align: center;
   }
  }
  
  @media only screen and (max-width: 576px) {
    .solutions {
        padding: 64px 13px;
       }

    .header {
        font-size: 45px;
    }
  }