.card {
    display: flex;
    flex-direction: column;
    max-width: 258px;
    height: 340px;
    background: #FEFEFE;
}

.title {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 32px;
    color: #111827;
    padding: 40px 20px 32px;
}

.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 184.02%;
    color: #A3A8B3;
    padding: 0 20px;
}

.card:hover {
    transform: translate3D(0, -1px, 0) scale(1.1);
    transition: all .4s ease;
    box-shadow: -12px -12px 24px #FFFFFF, 12px 12px 24px #B4C1D5;
}

@media only screen and (max-width: 992px) {
    .card {
        height: auto;
        padding: 40px 0;
        text-align: left;
    }
 }
 
 @media only screen and (max-width: 576px) {
    
    .card {
        width: 30vw;
        height: 35vw;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .card h2 {
        font-size: 16px;
    }

    .title {
        padding: 10px 0 0 0;
        text-align: center;
    }
    
 }