.form {
    display: flex;
    flex-direction: column;
    width: 551px;
    padding: 56px 0;
    row-gap: 24px;
}

.form div {
    display: flex;
    flex-direction: column;
}

.form label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 12px;
}

.input {
    background: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #FFF;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Inter';
}

.input:focus {
    outline: none;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 32px;
    width: 113px;
    height: 40px;
    background: #FFFFFF;
    border: none;
    transition: all .5s ease;
}

.button:hover {
    transform: translate3D(0, -1px, 0) scale(1.1);
    transition: all .4s ease;
    box-shadow: -12px -12px 24px #FFFFFF, 12px 12px 24px #B4C1D5;
}

.button:disabled {
    opacity: 0.5;
}

.down {
    width: 32px;
    height: 32px;
    color: #FFF;
    padding-bottom: 56px;
}

@media only screen and (max-width: 992px) {

    .form {
        width: 344px;
    }
   
  }
  
  @media only screen and (max-width: 576px) {

    .down {
        margin: auto;
    }
    
  }